@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background-color: powderblue;
}

a { 
    text-decoration: none; 
    color: black;
}

.p-15 { padding: 15px; }

.p-10 { padding: 10px; }

.tajust { text-align: justify; }

.tacenter { text-align: center; }

.taright { text-align: right; }

.col-6 { width: 50%; }

.col-3 { width: 25%; }

.col-8 { width: 66.7%; }

.d-block { display: block; }

.w-60 { width: 60%; }

.header {
    background-color: cyan;
    padding: 5px;
}

.header-2 {
    background-color: #2836ff;
    padding: 15px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-1{
    margin-top: 30px;
    display: flex;
}

h1 {
    color:rgb(2, 2, 88); 
    text-shadow: 5px 5px 5px rgb(77, 57, 150);
    margin-top: 50px;
}

.row {
    display: flex;
    margin: 0 -15px;
}

.destaque {
    width: 33.3%;
    margin: 40px 0;
    padding: 0 15px;
}

.destaque-estilo {
    border-style:groove;
    text-align: center;
    background-color: cornflowerblue;
}

.button {
    color: rgb(2, 2, 65);
    background-color: blanchedalmond;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.footer {
    background-color:  #2836ff;
    padding: 15px;
    color: lightcyan;
}

.footer-p {
    text-align: center;
    font-size: 0.8em;
}

.face {
    width: 50%;
    text-align: right;
    max-width: 1200px;
}

.insta {
    width: 50%;
    max-width: 1200px;
}
